<ion-header>
    <ion-toolbar>
        <ion-title>
            Perfil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="userData">
    <ion-card>
        <ion-card-header>
            Información del usuario
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Nombre:</ion-label>
                    <ion-label>{{ userData.user_data.nombre }}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Apellidos:</ion-label>
                    <ion-label>{{ userData.user_data.apellidos }}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Edad:</ion-label>
                    <ion-label>{{ userData.user_data.edad }}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Objetivo:</ion-label>
                    <ion-label>{{ userData.user_data.objetivo }}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Correo electrónico:</ion-label>
                    <ion-label>{{ userData.user_data.email }}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-button expand="block" color="danger" (click)="signOut()">CERRAR SESION</ion-button>
</ion-content>