<ion-header>
    <ion-toolbar>
        <ion-title>
            Resumen de actividades
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            Total de Kilómetros
        </ion-card-header>
        <ion-card-content>
            {{ totalKilometros }} km
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Tiempo total
        </ion-card-header>
        <ion-card-content>
            {{ tiempoTotal }} minutos
        </ion-card-content>
    </ion-card>

</ion-content>