<ion-header>
    <ion-toolbar>
        <ion-title>
            Bienvenido a tu App de Running
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="ion-text-center">
        <h2>¡Bienvenido!</h2>
        <p>Inicia sesión o regístrate para empezar.</p>
        <ion-button expand="block" color="primary" routerLink="/login">Iniciar sesión</ion-button>
        <ion-button expand="block" color="secondary" routerLink="/register">Registrarse</ion-button>
    </div>
</ion-content>